<h4><div><h1>Etat des locations effectuées de Sallie :</h1>
	Marteau piqueur	3.5
	Marteau piqueur	3.5
	Marteau piqueur	3.5
	Marteau piqueur	3.5
	Marteau piqueur	3.5
	Marteau piqueur	3.5
</h4><h4>Montant du égale à : 21.0</h4>
<h4>Vous gagnez : 6 points de bonis</h4></div>